<main class="login-main">
    <section class="form-section">
        <form class="log-in-form">
        <h2>Login</h2>
        <div>
            <span>User Name:</span>
            <input id="login-user" type="text">
        </div>
        <div>
            <span>Password:</span>
            <input id="login-password" type="text">
        </div>
        <button type="submit">Submit</button>
    </form>
    <form class="create-form">
        <h2>Create Account</h2>
        <div>
            <span>User Name:</span>
            <input id="create-user" type="text">
        </div>
        <div>
            <span>Password:</span>
            <input id="create-password" type="text">
        </div>
        <button type="submit">Submit</button>
    </form>
    </section>
    
</main>

<script>
    const login = document.querySelector('.log-in-form')
    const create = document.querySelector('.create-form')

    login.addEventListener('submit', (e) => {
        e.preventDefault()
        const user = document.querySelector('#login-user').value
        const password = document.querySelector('#login-password').value
        const userPass = {
            user_name: user,
            password: password
        }
        console.log(userPass)
        fetch("/user/login", {
        method: 'POST',
        body: JSON.stringify(userPass),
        headers: { 'Content-Type': 'application/json' },
    }).then(res => {
        if (res.ok) {
            console.log(res)
      document.location.replace('/');
    } else {
     console.log(response.statusText);
    }
    })
    })

    create.addEventListener('submit', (e) => {
        e.preventDefault()
        console.log("works")
        const user = document.querySelector('#create-user').value
        const password = document.querySelector('#create-user').value
        const userPass = {
            user_name: user,
            password: password
        }
        console.log(userPass)
        fetch("/user/create", {
        method: 'POST',
        body: JSON.stringify(userPass),
        headers: { 'Content-Type': 'application/json' },
    }).then(res => {
        if (res.ok) {
            console.log(res)
      document.location.replace('/');
    } else {
     console.log(response.statusText);
    }
    })
    })
</script>